<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="add-listings-box">
        <h3>Basic Informations</h3>
    
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-briefcase-alt'></i> Author</label>
                    <input type="text" class="form-control" placeholder="Author Name">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-briefcase-alt'></i> Blog title</label>
                    <input type="text" class="form-control" placeholder="Enter Blog title">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class="bi bi-bricks"></i> City</label>
                    <input type="text" class="form-control" placeholder="Enter your city">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-menu-alt-left'></i> Address:</label>
                    <input type="text" class="form-control" placeholder="e.g. 55 County Laois">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-menu-alt-left'></i> Date & Time</label>
                    <input type="date" class="form-control" placeholder="e.g. 55 County Laois">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label><i class='bx bx-duplicate'></i> All Category</label>
                    <select>
                        <option>Select Category</option>
                        <option>Fitness</option>
                        <option>Beauty & Spa</option>
                        <option>Restaurants</option>
                        <option>Events</option>
                        <option>Health & Care</option>
                        <option>Travel & Public</option>
                        <option>Auto Insurance</option>
                        <option>Attorny</option>
                        <option>Plumbers</option>
                        <option>Hotel</option>
                        <option>Plumbers</option>
                        <option>Shopping</option>
                        <option>Others (submit request for other category)</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label><i class='bx bx-duplicate'></i> Social media accounts</label>
                    <div class="social-media-accounts">
                        <div class="social-media-account" >
                            <input type="checkbox" id="facebook"> 
                            <i class="bi bi-facebook"></i>
                            <label for="facebook" style="margin-bottom: 0px;padding-left: 0px;">Facebook</label>
                        </div>
                        <div class="social-media-account" >
                            <input type="checkbox" id="twitter"> 
                            <i class="bi bi-twitter"></i>
                            <label for="twitter" style="margin-bottom: 0px;padding-left: 0px;">Twitter</label>
                        </div>
                        <div class="social-media-account" >
                            <input type="checkbox" id="instagram"> 
                            <i class="bi bi-instagram"></i>
                            <label for="instagram" style="margin-bottom: 0px;padding-left: 0px;">Instagram</label>
                        </div>
                        <div class="social-media-account" >
                            <input type="checkbox" id="youtube"> 
                            <i class="bi bi-youtube"></i>
                            <label for="youtube" style="margin-bottom: 0px;padding-left: 0px;">Youtube</label>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="add-listings-box">
        <h3>Feature Image</h3>
    
        <div class="file-upload-box">
            <input type="file" name="" id="">
            <form action="/file-upload" class="dropzone"></form>
        </div>
    </div>

    <div class="add-listings-box">
        <h3>Details</h3>
    
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label><i class='bx bx-text'></i> Description:</label>
                    <textarea cols="30" rows="7" class="form-control" placeholder="Details..."></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="add-listings-box">
        <h3>Gallery (optional)</h3>
    
        <div class="file-upload-box">
            <input type="file" name="" id="">
            <form action="/file-upload" class="dropzone"></form>
        </div>
    </div>

 
            
    <div class="add-listings-btn">
        <button type="submit">Submit Blog</button>
    </div>
    <!-- End -->

    <div class="flex-grow-1"></div>
 

</div>
<!-- End Main Content Wrapper Area -->