<!-- Start Blog Area -->
<section class="blog-area with-events pb-100">
    <div class="container">


        <div class="blog-item-list">
            <h2>Xploradoor Recent Activities</h2>

        </div>
        <owl-carousel-o #carousel [options]="blogSlides">
            <ng-container *ngFor="let Content of singleBlogPost; let i = index">
                <ng-template carouselSlide>
                    <div class="item_s">
                        <div class="single-blog-post">
                            <div class="post-image">
                                <a  class="d-block">
                                    <img [src]="Content.mainImg" alt="image">
                                </a>
                            </div>
                            <div class="post-content">
                                <ul class="post-meta d-flex align-items-center">
                                    <li>
                                        <div class="d-flex align-items-center">
                                            <img [src]="Content.authorImg" alt="image">
                                            <span
                                                style="color: white;">{{Content.authorName}}</span>
                                        </div>
                                    </li>
                                    <li style="color: white;"><i class="flaticon-calendar"></i>
                                        {{Content.date}}
                                    </li>
                                </ul>
                                <h3><a routerLink="/{{Content.link}}"
                                        style="color: white;">{{Content.title}}</a>
                                </h3>
                                <a routerLink="/{{Content.link}}" class="link-btn"><i
                                        class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>

    </div>
</section>
<!-- End Blog Area -->